<%= bootstrap_form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Creacion de una asignacion -->
  <% if !@assignment.id %>
    <%= f.collection_select(:user_id, @available_users, :id, :f_name) %>

  <!-- Edicion de una asignacion -->
  <% else %>
    <%= f.hidden_field :user_id, value: @assignment.user_id %>
  <% end %>
  
  <%= f.hidden_field :project_id, value: @assignment.project_id %>

  <%= f.select :role, [['Administrador', 1], ['Empleado', 2]], label: 'Cargo' %>

    <%= f.submit %>
<% end %>