<div class="row">
	<div class="col-md-12">
		<h3>Tareas por hacer:</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Progreso</th>
					<th>Progreso esperado</th>
				</tr>
			</thead>
			<% @user.to_do_tasks(@project).each do |t| %>
				<tr>
					<td><%= t.name %></td>
					<td><%= t.progress %></td>
					<td><%= t.expected_progress %></td>
				</tr>
			<% end %>
		</table>
	</div>

	<div class="col-md-12">
		<h3>Compromisos:</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Progreso</th>
					<th>Progreso esperado</th>
					<th>Reportes</th>
					<th>Ultimo reporte</th>
				</tr>
			</thead>
			<% @user.doing_tasks(@project).each do |t| %>
				<tr>
					<td><%= t.name %></td>
					<td><%= t.progress %></td>
					<td><%= t.expected_progress %></td>
					<td><%= t.reports.count %></td>
					<td><%= @user.f_last_report_in_task_date(t) %></td>
				</tr>
			<% end %>
		</table>
	</div>

	<div class="col-md-12">
		<h3>Tareas terminadas:</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Progreso</th>
					<th>Progreso esperado</th>
					<th>Reportes</th>
					<th>Ultimo reporte</th>
				</tr>
			</thead>
			<% @user.done_tasks(@project).each do |t| %>
				<tr>
					<td><%= t.name %></td>
					<td><%= t.progress %></td>
					<td><%= t.expected_progress %></td>
					<td><%= t.reports.count %></td>
					<td><%= @user.f_last_report_in_task_date(t) %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>