<div class="row">
	<div class="col-md-12">
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default option" id="commitments_1"><span class="glyphicon glyphicon-user"></span></button>
			<button type="button" class="btn btn-default option" id="commitments_2"><span class="glyphicon glyphicon-link"></span></button>
			<button type="button" class="btn btn-default option" id="commitments_3"><span class="glyphicon glyphicon-check"></span></button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 content_commitments" id="content_commitments_1"  style="display: none;">
		<h3>Tareas por hacer</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Progreso</th>
					<th>Progreso esperado</th>
				</tr>
			</thead>
			<% @user.to_do_tasks(@project).each do |t| %>
				<tr>
					<td><%= t.name %></td>
					<td><%= t.progress %></td>
					<td><%= t.expected_progress %></td>
				</tr>
			<% end %>
		</table>
	</div>

	<div class="col-md-12 content_commitments" id="content_commitments_2">
		<h3>Compromisos en proceso</h3>
		<div class="row">
			Compromisos atrasados: <%= @user.delayed_commitments_on_project(@project).count %>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Progreso</th>
					<th>Progreso esperado</th>
					<th>Reportes</th>
					<th>Ultimo reporte</th>
					<th>Entrega acordada</th>
					<th>Dias a favor / contra</th>
				</tr>
			</thead>
			<% @user.doing_tasks(@project).each do |t| %>
				<tr>
					<td><%= t.name %></td>
					<td><%= t.progress %></td>
					<td><%= t.expected_progress %></td>
					<td><%= t.reports.count %></td>
					<td><%= f_date(@user.last_report_in_task_date(t)) %></td>
					<td><%= f_date(t.expected_end_date) %></td>
					<td><%= t.gap_days %></td>
				</tr>
			<% end %>
		</table>
	</div>

	<div class="col-md-12 content_commitments" id="content_commitments_3" style="display: none;">
		<h3>Compromisos terminados</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Progreso</th>
					<th>Progreso esperado</th>
					<th>Reportes</th>
					<th>Ultimo reporte</th>
					<th>Entrega acordada</th>
					<th>Dias a favor / contra</th>
				</tr>
			</thead>
			<% @user.done_tasks(@project).each do |t| %>
				<tr>
					<td><%= t.name %></td>
					<td><%= t.progress %></td>
					<td><%= t.expected_progress %></td>
					<td><%= t.reports.count %></td>
					<td><%= f_date(@user.last_report_in_task_date(t)) %></td>
					<td><%= f_date(t.expected_end_date) %></td>
					<td><%= t.gap_days %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>