<div class="row">
  <div class="col-md-12">
    <h1>Asignaciones</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Project</th>
          <th>User</th>
          <th>Role (int)</th>
          <th>Rol</th>
        </tr>
      </thead>

      <tbody>
        <% @assignments.each do |assignment| %>
          <tr>
            <td><%= assignment.project.name  %></td>
            <td><%= assignment.user.f_name %></td>
            <td><%= assignment.role %></td>
            <td><%= assignment.user.f_role_in_project(assignment.project) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Assignment', new_assignment_path %>
  </div>
</div>
