<!-- VISTA OBSERVACIONES DE MODAL TAREA -->

<div class="row title">
	<div class="col-md-12">
		Observaciones
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="full">
			<table class="table info-table">
				<thead>
					<tr>
						<th>Observación</th>
						<th>Fecha</th>
						<th>Hora</th>
						<th>Autor</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @task.comments.each do |comment|%>
						<% if comment.description != '' %>
							<tr id="comment_<%= comment.id %>">
								<td><%= comment.description %></td>
								<td><%= comment.created_at.strftime("%d %b. %Y") %></td>
								<td><%= comment.created_at.strftime("%H:%M")%></td>
								<td><%= comment.user.f_name %></td>
								<td><%= link_to 'x', project_task_comment_path(@project.id, @task.id, comment), method: :delete, data: { confirm: '¿Estás seguro?' }, remote:true %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>	
			</table>
		</div>
		<div class="full">
			<%= bootstrap_form_for (Comment.new) do |f| %>
				<%= f.text_area :description, label: 'Descripción' %>
				<%= f.hidden_field :task_id, value: @task.id %>
				<%= f.hidden_field :user_id, value: current_user.id %>
				<%= f.submit "Guardar", :class => "btn-group btn configm" %>
			<% end %>
		</div>
	</div>
</div>