<!-- VISTA RESUMEN DE MODAL TAREA -->
<div class="row">
	<!-- INFORMACION GENERAL -->
	<div class="col-md-12 section_title">
		<h5><%= @task.name %></h5>
	</div>
	<div class="col-md-12">
		<div class="row info section_content">

			<h4>Ascendencia</h4>
			<p><%= @task.f_ancestry %></p>

			<h4>Fecha inicio</h4>
			<p><%= f_date(@task.expected_start_date_from_children) %></p>
			
			<h4>Fecha término</h4>
			<p><%= f_date(@task.expected_end_date_from_children) %></p>
			
			<h4>Progreso real</h4>
			<p><%= @task.progress %></p>
			
			<h4>Progreso esperado</h4>
			<p><%= @task.expected_progress %></p>
			
			<h4>Responsable</h4>
			<p><%= @task.user ? @task.user.f_name :  'No definido' %></p>
			
			<h4>Estado</h4>
			<p><%= @task.f_state %></p>
		</div>
	</div>
</div>

