<!-- VISTA OBSERVACIONES DE MODAL TAREA -->

<div class="row">
	<div class="col-md-12 section_title">
		<h5>Observaciones</h5>
	</div>
</div>
<div class="row">

	<%= render 'comments/comments_list' %>

	<div class="col-md-12 little-form" >
		<%= bootstrap_form_for(Comment.new(), remote: true) do |f| %>
			<%= f.text_area :description, label: 'Nueva observación' %>
			<%= f.hidden_field :task_id, value: @task.id %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.submit "Guardar", :class => "btn-group btn configm" %>
		<% end %>
	</div>
	
</div>