<div class="full task_show">
	<div class="row modal-header">
			<table>
				<tr>
					<td><%= @task.name %></td>
				</tr>
			</table>
		<!-- <div class="col-md-12">
		</div> -->
	</div>


	<div class="row modal-body option_group">
		<div class="col-md-2 left_panel">
			<table>
				<tr class="option active" id="menu_1">
					<td><span class="glyphicon glyphicon-info-sign"></span></td>
					<td>Información</td>
				</tr>
				<!-- <tr>
					<td class="option" id="menu_2"><span class="glyphicon glyphicon-warning-sign"></span></td>
					<td>Observaciones</td>
				</tr> -->
				<tr class="option" id="menu_3">
					<td><span class="glyphicon glyphicon-edit"></span></td>
					<td>Reportar avance</td>
				</tr>
				<tr class="option" id="menu_4">
					<td><span class="glyphicon glyphicon-th-list"></span></td>
					<td>Historial</td>
				</tr>
				<% if current_user.can_edit_task(@task) %>
					<tr class="option" id="menu_5">
						<td><span class="glyphicon glyphicon-cog"></span></td>
					<td>Configuración</td>
					</tr>
				<% end %>
				<!-- <tr>
					<td class="option" id="menu_6"><i class="fa fa-clock-o iconmodal"></i>Linea de tiempo</td>
				</tr> -->
			</table>
		</div>

		<div class="col-md-10 right_panel">
			<div id="content_menu_1" class="content_menu full">
				<%= render "tasks/task_show_resumen" %>
			</div>
			<!-- <div id="content_menu_2" class="content_menu full" style="display: none"> -->
				 <!-- render "tasks/task_show_observacion"  -->
			<!-- </div> -->
			<div id="content_menu_3" class="content_menu full" style="display: none">
				<%= render "tasks/task_show_reportar" %>
			</div>
			<div id="content_menu_4" class="content_menu full" style="display: none">
				<%= render "tasks/task_show_historial" %>
			</div>
			<% if current_user.can_edit_task(@task) %>
				<div id="content_menu_5" class="content_menu full" style="display: none">
					<%= render "tasks/task_show_config" %>
				</div>
			<% end %>
			<!-- <div id="content_menu_6" class="content_menu full" style="display: none"> -->
				<!-- render "tasks/task_show_timeline"  -->
			<!-- </div> -->
		</div>
	</div>
</div>

<!-- suscribimos las opciones  -->
<script type="text/javascript">
	ready()
</script>
