<div class="full task_show">
	<div class="row roof">
		<table>
			<tr>
				<td class="project_name"><%= @task.project.name %></td>
				<td class="duration"><%= @task.duration.to_i %> días</td>
				<% if @task.project.resources != 0 %>
					<td><%= number_with_delimiter(@task.resources_cost.to_i)%> <%= @task.project.f_resources_type %></td>
				<% end %>
				<td><%= remaining_days(@task) %></td>
			</tr>
		</table>
	</div>
	<div class="row header">
		<table>
			<tr>
				<td><%= image_tag image_kanban(@task.user), :class => "img-circle", :style =>"margin-right: 0.4em;", :title => @task.user.try(:name) %></td>
				<td><h3><%= @task.name %></h3></td>
			</tr>
		</table>
	</div>
	<div class="row">
		<div class="col-md-3 left_panel">
			<table>
				<tr>
					<td class="option" id="menu_1"><i class="fa fa-bar-chart iconmodal"></i>Resumen</td>
				</tr>
				<tr>
					<td class="option" id="menu_2"><i class="fa fa-exclamation-triangle iconmodal"></i>Observaciones</td>
				</tr>
				<tr>
					<td class="option" id="menu_3"><i class="fa fa-clipboard iconmodal"></i>Reportar Avance</td>
				</tr>
				<tr>
					<td class="option" id="menu_4"><i class="fa fa-clock-o iconmodal"></i>Historial de reportes</td>
				</tr>
				<% if current_user.can_edit_task(@task) %>
					<tr>
						<td class="option" id="menu_5"><i class="fa fa-wrench iconmodal"></i>Configuración</td>
					</tr>
				<% end %>
			</table>
		</div>

		<div class="col-md-9 right_panel">
			<div id="content_menu_1" class="content_menu full">
				<%= render "tasks/task_show_resumen" %>
			</div>
			<div id="content_menu_2" class="content_menu full" style="display: none">
				<%= render "tasks/task_show_observacion" %>
			</div>
			<div id="content_menu_3" class="content_menu full" style="display: none">
				<%= render "tasks/task_show_reportar" %>
			</div>
			<div id="content_menu_4" class="content_menu full" style="display: none">
				<%= render "tasks/task_show_historial" %>
			</div>
			<% if current_user.can_edit_task(@task) %>
				<div id="content_menu_5" class="content_menu full" style="display: none">
					<%= render "tasks/task_show_config" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<!-- suscribimos las opciones  -->
<script type="text/javascript">
	ready()
</script>
