<li class="kanban_item item" data-startdate="<%= task.expected_start_date %>" data-enddate="<%= task.expected_end_date %>" data-status="<%= 'delayed' if task.delayed  %>">
	<div class="container">
		<%= render 'task_header', task: task %>		
	</div>

    <div class="container-task task_name">
		<i class="fa fa-sign-in"></i>  <%= link_to_modal task.name , task %>
	</div>

	<div class="task_footer">
		<table class>
			<tr>
				<td class="<%= css_task_status_color(task) %>"><%= remaining_days(task) %></td>
				<td class="real_progress <%= css_task_status_color(task) %>"><%= task.expected_progress %> %</td>
				<td class="expected_progress"><%= task.progress %> %</td>
			</tr>
		</table>
	</div>
</li>