<div class="parent_name">
	<%= task.parent_name %>
</div>

 <div class="tags">
 	<table>
 		<tr>
 			<td>
 				<%= link_to (task_toggle_urgent_path(task)), remote: true do %>
 					<span id="urgent_<%= task.id %>" class="glyphicon glyphicon-pushpin <%= urgent_task_class(task)%>" title="<%= urgent_task_title(task) %>"></span>	
 				<% end %>
 			</td>
 		</tr>
 	</table>
 </div>
