<div class="row">
  <div class="col-md-12">
    <h1>Proyectos</h1>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Avance</th>
          <th>Avance esperado</th>
          <th>Inicio esperado</th>
          <th>Término esperado</th>
          <th>Ultimo reporte</th>
          <th>Rol</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |p| %>
          <tr>
            <td><%= link_to p.name, project_path(p) %></td> 
            <td><%= p.progress.to_f %> %</td>
            <td><%= p.expected_progress.to_f %> %</td>
            <td><%= f_date(p.start_date) %></td>
            <td><%= f_date(p.end_date) %></td>
            <% if p.last_report %>
              <td><%= f_date(p.last_report.created_at) %> <br> <%= p.last_report.user ? p.last_report.user.f_name : 'Importación' %></td>
            <% else %>
              <td></td>
            <% end %>
            <% if current_user.can_edit_project(p) %>
              <td><%= link_to_modal 'X', project_delete_path(p) %></td>
            <% end %>
            <td><%= current_user.f_role_in_project(p)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <%= link_to_modal 'Nuevo proyecto', new_project_path(@enterprise) %>
  </div>
</div>
