<div class="row">
  <div class="col-md-12">
    <h1><%= @project.name %></h1>
  </div>
</div>

<div class="row">
	<div class="col-md-12 pro_container">
		<div class="container">
			<div class="title">
				<span class="glyphicon glyphicon-user"></span>
				Usuarios
			</div>
			
		  	<table class="table pro">
		  		<thead>
		  			<th>Nombre</th>
		  			<th>Rol</th>
		  			<th>N° de reportes</th>
		  			<th></th>
		  			<th></th>
		  		</thead>
			    <% @users.each do |u| %>
			    	<tr>
			    		<td><%= u.f_name %></td>
			    		<td><%= u.f_role_in_project(@project) %></td>
			    		<td><%= u.reports_in_project(@project).count %></td>
			    		<td><%= link_to 'Detalles', assignment_path(u.assignment_in_project(@project).id) %></td>
		    			<td>
				    		<% if !u.super_admin && (@project.owner == current_user || current_user.super_admin) %>
				    			<%= link_to_modal 'Editar asignación', edit_assignment_path(u.assignment_in_project(@project).id) %>
				    		<% end %>
		    			</td>
			    	</tr>
			    <% end %>
		  	</table>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<% if @project.owner == current_user %>
			<%= link_to_modal 'Agregar usuario', new_assignment_path(project_id: @project.id) %>
		<% end %>
	</div>
</div>