<div class="row">
  <div class="col-md-12">
    <h1><%= @project.name %></h1>
  </div>
</div>


<div class="row">
	<div class="col-md-12">
		<h2>Usuarios</h2>
	</div>
</div>
<div class="row">
  <div class="col-md-6">
  	<table class="table">
  		<thead>
  			<th>Nombre</th>
  			<th>Apellido</th>
  			<th>Rol</th>
  			<th>N° de reportes</th>
  		</thead>
	    <% @users.each do |u| %>
	    	<tr>
	    		<td><%= u.name %></td>
	    		<td><%= u.last_name %></td>
	    		<td><%= u.f_role_in_project(@project) %></td>
	    		<td><%= u.reports_in_project(@project).count %></td>
	    	</tr>
	    <% end %>
  	</table>
  </div>
</div>
